In [1]:
import os
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Load dataset

In [2]:
df = pd.read_csv("dataset.csv")
print(df.shape)

(387, 54)

In [3]:
print(df.columns)

Index(['#', 'Company Name', 'Company Website', 'Sector Classification',
       'Brief Company Description', 'HQ Location',
       'Where will roles be located? (post COVID-19)', 'Stage - Series',
       'Current Team Size', 'Link to Job Postings', 'Apprx. Total Roles Open',
       'Open to Part-time or Internships?', 'Engineering', 'Design',
       'Operations', 'Sales and Marketing',
       'Other (PM, Data Science, Legal, etc)', 'Software Engineer',
       'Frontend Engineer', 'Backend Engineer', 'Full Stack Engineer',
       'Mobile Developer', 'QA Engineer', 'DevOps', 'Software Architect',
       'Hardware Engineer', 'Mechanical Engineer', 'Systems Engineer',
       'UI/UX Designer', 'User Researcher', 'Visual Designer',
       'Creative Director', 'Finance/ Accounting', 'Human Resources',
       'Office Manager', 'Talent/Recruiting', 'Customer Service',
       'Operations Manager', 'Executive Assistant',
       'Business Development Representative',
       'Sales Development Representative', 'Account Executive',
       'Business Development Manager', 'Account Manager', 'Sales Manager',
       'Marketer', 'Marketing Manager', 'Growth', 'Customer Success',
       'Business Analyst', 'Data Scientist', 'Product Manager',
       'Project Manager', 'Attorney'],
      dtype='object')

# Clean data

In [4]:
df.head()

,#,Company Name,Company Website,Sector Classification,Brief Company Description,HQ Location,Where will roles be located? (post COVID-19),Stage - Series,Current Team Size,Link to Job Postings,...,Sales Manager,Marketer,Marketing Manager,Growth,Customer Success,Business Analyst,Data Scientist,Product Manager,Project Manager,Attorney
0,1,TrueAccord,www.trueaccord.com,Enterprise Technology,"TrueAccord is a category-defining, financial t...",US/California,"Remote (post COVID-19), At HQ (as listed above...",Series B,NaN,https://www.trueaccord.com/about-us/careers/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN
1,2,PlayVS,https://www.playvs.com/,Consumer Technology,PlayVS is an esports competition platform dedi...,US/California,At HQ (as listed above),Series C,11-50 FTE,https://www.playvs.com/careers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Juvo,https://www.juvo.com/,Enterprise Technology,Building Financial Identities for 4 Billion Pe...,US/California,At HQ (as listed above),Series C,51-100 FTE,https://www.juvo.com/careers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Hackerone,https://www.hackerone.com/,Enterprise Technology,HackerOne is a vulnerability coordination and ...,US/California,At HQ (as listed above),Series D,101-500 FTE,https://www.hackerone.com/careers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Masterclass,https://www.masterclass.com/,Consumer Technology,MasterClass offers online classes created for ...,US/California,At HQ (as listed above),Series E+,51-100 FTE,https://careers.masterclass.com/index.html,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN

## Drop index column

In [5]:
df = df.drop(["#"], axis=1)
df.head()

,Company Name,Company Website,Sector Classification,Brief Company Description,HQ Location,Where will roles be located? (post COVID-19),Stage - Series,Current Team Size,Link to Job Postings,Apprx. Total Roles Open,...,Sales Manager,Marketer,Marketing Manager,Growth,Customer Success,Business Analyst,Data Scientist,Product Manager,Project Manager,Attorney
0,TrueAccord,www.trueaccord.com,Enterprise Technology,"TrueAccord is a category-defining, financial t...",US/California,"Remote (post COVID-19), At HQ (as listed above...",Series B,NaN,https://www.trueaccord.com/about-us/careers/,11-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN
1,PlayVS,https://www.playvs.com/,Consumer Technology,PlayVS is an esports competition platform dedi...,US/California,At HQ (as listed above),Series C,11-50 FTE,https://www.playvs.com/careers,1-5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Juvo,https://www.juvo.com/,Enterprise Technology,Building Financial Identities for 4 Billion Pe...,US/California,At HQ (as listed above),Series C,51-100 FTE,https://www.juvo.com/careers,1-5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hackerone,https://www.hackerone.com/,Enterprise Technology,HackerOne is a vulnerability coordination and ...,US/California,At HQ (as listed above),Series D,101-500 FTE,https://www.hackerone.com/careers,1-5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Masterclass,https://www.masterclass.com/,Consumer Technology,MasterClass offers online classes created for ...,US/California,At HQ (as listed above),Series E+,51-100 FTE,https://careers.masterclass.com/index.html,1-5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN

In [6]:
# Nulls per column.
for column in df.columns:
  print(column, df[column].isnull().sum())

Company Name 0
Company Website 6
Sector Classification 14
Brief Company Description 12
HQ Location 2
Where will roles be located? (post COVID-19) 34
Stage - Series 61
Current Team Size 26
Link to Job Postings 28
Apprx. Total Roles Open 2
Open to Part-time or Internships? 338
Engineering 104
Design 242
Operations 242
Sales and Marketing 169
Other (PM, Data Science, Legal, etc) 223
Software Engineer 173
Frontend Engineer 238
Backend Engineer 231
Full Stack Engineer 213
Mobile Developer 332
QA Engineer 342
DevOps 307
Software Architect 348
Hardware Engineer 376
Mechanical Engineer 381
Systems Engineer 364
UI/UX Designer 278
User Researcher 366
Visual Designer 340
Creative Director 364
Finance/ Accounting 326
Human Resources 344
Office Manager 375
Talent/Recruiting 347
Customer Service 332
Operations Manager 337
Executive Assistant 370
Business Development Representative 331
Sales Development Representative 309
Account Executive 307
Business Development Manager 341
Account Manager 349
Sales Manager 339
Marketer 343
Marketing Manager 319
Growth 327
Customer Success 317
Business Analyst 350
Data Scientist 310
Product Manager 277
Project Manager 364
Attorney 376

In [7]:
['Company Name', 'Company Website', 'Sector Classification',
       'Brief Company Description', 'HQ Location',
       'Where will rolesw be located? (post COVID-19)', 'Stage - Series',
       'Current Team Size', 'Link to Job Postings', 'Apprx. Total Roles Open',
       'Open to Part-time or Internships?', 'Engineering', 'Design',
       'Operations', 'Sales and Marketing',
       'Other (PM, Data Science, Legal, etc)', 'Software Engineer',
       'Frontend Engineer', 'Backend Engineer', 'Full Stack Engineer',
       'Mobile Developer', 'QA Engineer', 'DevOps', 'Software Architect',
       'Hardware Engineer', 'Mechanical Engineer', 'Systems Engineer',
       'UI/UX Designer', 'User Researcher', 'Visual Designer',
       'Creative Director', 'Finance/ Accounting', 'Human Resources',
       'Office Manager', 'Talent/Recruiting', 'Customer Service',
       'Operations Manager', 'Executive Assistant',
       'Business Development Representative',
       'Sales Development Representative', 'Account Executive',
       'Business Development Manager', 'Account Manager', 'Sales Manager', 
       'Marketer', 'Marketing Manager', 'Growth', 'Customer Success', 
       'Business Analyst', 'Data Scientist', 'Product Manager', 'Project Manager', 'Attorney']

['Company Name',
 'Company Website',
 'Sector Classification',
 'Brief Company Description',
 'HQ Location',
 'Where will rolesw be located? (post COVID-19)',
 'Stage - Series',
 'Current Team Size',
 'Link to Job Postings',
 'Apprx. Total Roles Open',
 'Open to Part-time or Internships?',
 'Engineering',
 'Design',
 'Operations',
 'Sales and Marketing',
 'Other (PM, Data Science, Legal, etc)',
 'Software Engineer',
 'Frontend Engineer',
 'Backend Engineer',
 'Full Stack Engineer',
 'Mobile Developer',
 'QA Engineer',
 'DevOps',
 'Software Architect',
 'Hardware Engineer',
 'Mechanical Engineer',
 'Systems Engineer',
 'UI/UX Designer',
 'User Researcher',
 'Visual Designer',
 'Creative Director',
 'Finance/ Accounting',
 'Human Resources',
 'Office Manager',
 'Talent/Recruiting',
 'Customer Service',
 'Operations Manager',
 'Executive Assistant',
 'Business Development Representative',
 'Sales Development Representative',
 'Account Executive',
 'Business Development Manager',
 'Account Manager',
 'Sales Manager',
 'Marketer',
 'Marketing Manager',
 'Growth',
 'Customer Success',
 'Business Analyst',
 'Data Scientist',
 'Product Manager',
 'Project Manager',
 'Attorney']

## Features analysis

### Sector classification

In [8]:
df["Sector Classification"].unique()

array(['Enterprise Technology', 'Consumer Technology', 'Healthcare', nan,
       'Other'], dtype=object)

### HQ location

In [9]:
# Unique values.
df["HQ Location"].unique()

array(['US/California', 'US/New York',
       'Fully Remote (not only during COVID-19)', 'Singapore',
       'US/Florida', 'US/Massachusetts', 'Canada', 'US/Oregon', 'India',
       nan, 'US/Washington D.C.', 'South Africa', 'Spain', 'US/Tennessee',
       'Denmark', 'US/Colorado', 'US/Washington', 'US/Maryland',
       'US/Texas', 'United Kingdom, The', 'US/Illinois',
       'US/Pennsylvania', 'US/Connecticut', 'Malaysia', 'US/Wisconsin',
       'US/North Carolina', 'US/Michigan', 'Germany', 'US/Minnesota',
       'Netherlands, The', 'Japan', 'Portugal', 'US/Oklahoma',
       'Australia', 'US/New Jersey'], dtype=object)

### Stage - Series

In [10]:
# Unique values.
df["Stage - Series"].unique()

array(['Series B', 'Series C', 'Series D', 'Series E+', 'Series A', nan,
       'Seed', 'Pre-Seed'], dtype=object)

In [11]:
def preprocess_series(x=None):
  serie = -1
  if type(x) == str:
    x = x.rstrip()
    if x == "Seed":
      serie = x
    elif x == "Pre-Seed":
      serie = x
    else:
      serie = x.split(" ")[1]
  return serie
series = []
for each in df["Stage - Series"]:
  serie = preprocess_series(x=each)
  series.append(serie)

In [12]:
df = df.drop(["Stage - Series"], axis=1)
df["stage"] = series

### Current Team Size
Use the maximum number of employees.

In [13]:
# Unique values.
df["Current Team Size"].unique()

array([nan, '11-50 FTE', '51-100 FTE', '101-500 FTE', '1-10 FTE',
       '501+ FTE'], dtype=object)

In [14]:
def preprocess_team_size(x=None):
  team_size = -1
  if type(x) == str:
    team_size = x.rstrip().replace("FTE", "")
    if "-" in team_size:
      team_size = team_size.split("-")[1]
    elif "+" in team_size:
      team_size
  return team_size

In [15]:
df["team_size"] = df["Current Team Size"].apply(preprocess_team_size)
df = df.drop(["Current Team Size"], axis=1)

### Apprx Total Roles Open
Categorize column by splitting to min and max total roles open.

In [16]:
# Amount of nulls.
df2["Apprx. Total Roles Open"].isnull().sum()

NameError: name 'df2' is not defined

In [17]:
df2["Apprx. Total Roles Open"].unique()

NameError: name 'df2' is not defined

In [18]:
def preprocess_roles(x=None):
  min_, max_ = -1, -1
  if type(x) == str:
    x = x.rstrip()
    if x == "":
      return min_, max_
    elif "-" in x:
      min_, max_ = x.split("-")
    elif "+" in x:
      min_ = -1
      max_ = 20
    else:
      return min_, max_
  return min_, max_
min_roles_open = []
max_roles_open = []
for each in df["Apprx. Total Roles Open"]:
  min_, max_ = preprocess_roles(x=each)
  min_roles_open.append(min_)
  max_roles_open.append(max_)

In [19]:
df["min_roles_open"] = min_roles_open
df["max_roles_open"] = max_roles_open

In [20]:
df = df.drop(["Apprx. Total Roles Open"], axis=1)

### Job roles 
Categorize columns

In [21]:
job_roles_columns = ['Engineering', 'Design', 'Operations', 'Sales and Marketing',
                       'Other (PM, Data Science, Legal, etc)', 'Software Engineer',
                       'Frontend Engineer', 'Backend Engineer', 'Full Stack Engineer',
                       'Mobile Developer', 'QA Engineer', 'DevOps', 'Software Architect',
                       'Hardware Engineer', 'Mechanical Engineer', 'Systems Engineer',
                       'UI/UX Designer', 'User Researcher', 'Visual Designer',
                       'Creative Director', 'Finance/ Accounting', 'Human Resources',
                       'Office Manager', 'Talent/Recruiting', 'Customer Service',
                       'Operations Manager', 'Executive Assistant', 'Business Development Representative',
                       'Sales Development Representative', 'Account Executive',
                       'Business Development Manager', 'Account Manager', 'Sales Manager', 
                       'Marketer', 'Marketing Manager', 'Growth', 'Customer Success', 
                       'Business Analyst', 'Data Scientist', 'Product Manager', 'Project Manager', 'Attorney']

In [22]:
def transform_roles_checks(x=None):
  check = 0
  if type(x) == str:
    x = x.rstrip().lower()
    if x == "X":
      check = 1
  return check
for column in job_roles_columns:
  df[column] = df[column].apply(transform_roles_checks)

In [23]:
df.head()

,Company Name,Company Website,Sector Classification,Brief Company Description,HQ Location,Where will roles be located? (post COVID-19),Link to Job Postings,Open to Part-time or Internships?,Engineering,Design,...,Customer Success,Business Analyst,Data Scientist,Product Manager,Project Manager,Attorney,stage,team_size,min_roles_open,max_roles_open
0,TrueAccord,www.trueaccord.com,Enterprise Technology,"TrueAccord is a category-defining, financial t...",US/California,"Remote (post COVID-19), At HQ (as listed above...",https://www.trueaccord.com/about-us/careers/,NaN,0,0,...,0,0,0,0,0,0,B,-1,11,20
1,PlayVS,https://www.playvs.com/,Consumer Technology,PlayVS is an esports competition platform dedi...,US/California,At HQ (as listed above),https://www.playvs.com/careers,NaN,0,0,...,0,0,0,0,0,0,C,50,1,5
2,Juvo,https://www.juvo.com/,Enterprise Technology,Building Financial Identities for 4 Billion Pe...,US/California,At HQ (as listed above),https://www.juvo.com/careers,NaN,0,0,...,0,0,0,0,0,0,C,100,1,5
3,Hackerone,https://www.hackerone.com/,Enterprise Technology,HackerOne is a vulnerability coordination and ...,US/California,At HQ (as listed above),https://www.hackerone.com/careers,NaN,0,0,...,0,0,0,0,0,0,D,500,1,5
4,Masterclass,https://www.masterclass.com/,Consumer Technology,MasterClass offers online classes created for ...,US/California,At HQ (as listed above),https://careers.masterclass.com/index.html,NaN,0,0,...,0,0,0,0,0,0,E+,100,1,5

In [26]:
# Write clean dataset.
df.to_excel("hr_job_dataset_cleaned.xlsx")

# Exploratory data analysis

# Donde se encuentra la mayor cantidad de oportunidad de trabajo?

In [25]:
column = "HQ Location"
for location in df["HQ Location"].unique():
  print(f"For location: {location}")
  #aux = df.query(f"{column} == @location")
  #print(aux.count())

For location: US/California
For location: US/New York
For location: Fully Remote (not only during COVID-19)
For location: Singapore
For location: US/Florida
For location: US/Massachusetts
For location: Canada
For location: US/Oregon
For location: India
For location: nan
For location: US/Washington D.C.
For location: South Africa
For location: Spain
For location: US/Tennessee
For location: Denmark
For location: US/Colorado
For location: US/Washington
For location: US/Maryland
For location: US/Texas
For location: United Kingdom, The
For location: US/Illinois
For location: US/Pennsylvania
For location: US/Connecticut
For location: Malaysia
For location: US/Wisconsin
For location: US/North Carolina
For location: US/Michigan
For location: Germany
For location: US/Minnesota
For location: Netherlands, The
For location: Japan
For location: Portugal
For location: US/Oklahoma
For location: Australia
For location: US/New Jersey